
@font-face{
font-family: "Osward";
  src: url("Oswald-VariableFont_wght.ttf");
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: repeat(2,500px);
    
}
.item{
     display: block;
    font-size: 2em;
    height: 100%;
    width: 100%;
}
.itemcontainer{position: relative;
       
}
.texto{
    display: flex;

    align-items: flex-end;
    position: absolute;
    top: 0px;
    z-index:-1;
    bottom: 80px;
}


.descripcion{
    font-family: "Osward";
    font-size: 70px;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    
   
}
h1{ 
    height: 100%;
    object-fit: cover;
}
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {display: block;
    height: 100%;
    width: 100%;
}
a:hover{

    opacity: 80%;
   
    
}
