@media only screen and(min-width:768px)and(max-width:940px){
    .container{ display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,250px); ;}
}
@media only screen and(min-width:400px)and(max-width:767px){}
@font-face{
font-family: "Osward";
  src: url("Oswald-VariableFont_wght.ttf");
}
*{margin: 0px;
    padding: 0px;        
}
:root{
    --variable-color:rgb(243, 235, 235);
   
    --variable-color2:rgb(87, 85, 85);
    --variable-tipoletra:font-family: "Osward";
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,500px);
    
}
.item{
     display: block;
    font-size: 2em;
    height: 100%;
    width: 100%;
}
.itemcontainer{position: relative;
       
}
.texto{
    display: flex;

    align-items: flex-end;
    position: absolute;
    top: 0px;
    z-index:-1;
    bottom: 80px;
}


.descripcion{
    font-family: "Osward";
    font-size: 70px;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    text-align:center;
    height: 100%;
    object-fit: cover;
    
   
} 
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {display: block;
    height: 100%;
    width: 100%;
}
a:hover{

    opacity: 80%;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    background-image:url(menu5.jpg);
    color:var(--variable-color);
}
    .logotipo{
       position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 20px;
    }
.somos{ display: block;
    font-size: 2em;
    height: 100%;
    width: 100%;}
.logo{
    position: relative;
   display: flex;
    width: 100%;
    height: 100%;
    text-align: justify;
   
}

.titulo{   font-size: 30px;
    position:absolute;
    display:;
    top: 90px;;
    left: 40px;
    color: black;
    font-family:cursive;}
.informacion{position:relative;
    grid-column-start: span 3;
    grid-row-start: span 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;}
.empresa{position: relative;
    text-align: center;}
    .boton{
        text-decoration: none;
        width: 100%;
        height: 10px;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
        top: 10px;
        color: var(--variable-color);
        background-color:var(--variable-color2);
        border-radius: 6px;
        border: 4px var(--variable-color);}
.botton{
   
}
.contenedor2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    background-image:url(menu3.jpg);
    color:var(--variable-color);
}
.trabajo{
    grid-column-start: span 4;
    grid-row-start: span 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;}
.textotrabajo{
    font-size: 17px;
    text-align: center;
    position: relative;
   top: 50px;
}
.muestra{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 20px;
}
.nuestrotrabajo {
    grid-column-start: span 5;
    grid-row-start: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}
.contenedor3{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    background-image:url(menu4.jpg);
    color:var(--variable-color);
}
.relativo{grid-column-start: span 1;
    grid-row-start: span 3;
    display: flex;
   
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;        
}
.formulario{ font-size: 17px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    top: 50px;

   }
   ::placeholder{position: absolute;
} 
.recuadro{ position: relative;
            height: 500%;
            width: 300%;
            border-radius: 20px;
            border-color: khaki;
            margin: 15px;
            padding: 15px;
           background-color: lightblue;
           
}
.contenedor4{  display: grid;
    position: absolute;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    background-image:url(menu4.jpg);
    color:var(--variable-color);
    height: 150%;
    
    align-items:flex-end;
}
    .imagen{height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 20px;
    }
.galeria{position:absolute;
    display: grid;
    grid-row-start: span 3;
    width: 90%;
    height: 70%;
   justify-items:flex-end;
   
   grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,150px);
    
    color:var(--variable-color);}}
.imagen{
   
  }
  .enunciado{
      padding: 10px;
    color:var(--variable-color);
    text-align: center;
    font-family:Oswald;

   
    
}

  



